#answer1{
    background-color: #4CAF50;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-size: 20px;
}
#answer2{
    background-color: #f94a1e;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-size: 20px;
}
#answer3{
    background-color: #3399ff;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-size: 20px;
}
#answer4{
    background-color: #ff9933;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-size: 20px;
}

.square{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 70px;
    height: 0px;
    font-size: 20px;
}

#killingFloor{
    display: none;
}

#num{
    font-size: 20px;
}

#killingFloor, #killingTimerText, #challenge1, #challenge2, #challenge3, #challenge4, #challenge5, #challenge6, 
#challenge7, #challenge8, #challenge9, #challenge10, #challenge11, #challenge12, #spellReal, #skew {
    display: none
}

#killingFloorPlayers {
    display: none;
    border: none
}

.skull {
    max-width: 32px;
    flex: 1;
    visibility: hidden;
}

#skull-wrapper {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
}

.sword {
    visibility: hidden;
    position: absolute;
    width: 250px;
}

.sword-left {
    clip-path: polygon(0 49%, 85% 49%, 100% 50%, 85% 51%, 0 51%);
    left: -7%;
}

.sword-left-move {
    left: 13%;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.sword-right {
    clip-path: polygon(0 50%, 15% 49%, 100% 49%, 100% 51%, 15% 51%);
    left: 65%
}

.sword-right-move {
    left: 45%;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.sword-top {
    clip-path: polygon(49% 0, 51% 0, 51% 85%, 50% 100%, 49% 85%);
    top: -12%;
}

.sword-top-move {
    top: 8%;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.hide {
    color: yellow;
    position: absolute;
}

#skewResult {
    position: relative;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

#hide {
    width: 100%
}

.col-1 {
    left: 19%;
}
.col-2 {
    left: 33%
}
.col-3 {
    left: 46%
}
.col-4 {
    left: 60%
}
.col-5 {
    left: 73%
}
.row-1 {
    top: 17.25%;
}
.row-2 {
    top: 40%;
}
.row-3 {
    top: 63%;
}
.row-4 {
    top: 86%;
}

.sword-row-1 {
    top: -11%;
}
.sword-row-2 {
    top: 12%;
}
.sword-row-3 {
    top: 35%;
}
.sword-row-4 {
    top: 58%;
}
.sword-col-1 {
    left: 3.5%;
}
.sword-col-2 {
    left: 17%
}
.sword-col-3 {
    left: 30.5%
}
.sword-col-4 {
    left: 44%
}
.sword-col-5 {
    left: 58%
}

#challengeNinePlayer {
    grid-area: player;
    justify-self: center;
    align-self: end;
}

#challengeNineTarget {
    grid-area: target;
    justify-self: center;
    align-self: end;
}

#playerOption {
    grid-area: playerOpt;
    justify-self: center;
    align-self: start;
}

#targetOption {
    grid-area: targetOpt;
    justify-self: center;
    align-self: start;
}

#arrow {
    grid-area: arrow;
    justify-self: center;
    align-self: center;
}

.hidden {
    opacity: 0;
}

img {
    opacity: 1;
    transition: opacity 1s ease 0s;
}

#challengeNineDisplay {
    display: none;
    grid-template-rows: auto;
    grid-template-areas: 
        ". . player . . target . ."
        ". . player arrow arrow target . ."
        ". . playerOpt arrow arrow targetOpt . ."
        ". . playerOpt . . targetOpt . .";
    grid-gap: 10px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;  
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

#challengeNineExplain img {
    width: 20%;
}

.w3-button {
    width: 250px;
    background-color: #3A3B3A;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

#challengeNameValue, #playersNameValue {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    list-style: none;
}

#killingFloorWait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    resize: none;
}

#theAvengers img {
    height: 250px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

.avenger-wrapper {
    position: relative;
    text-align: center;
}

.avenger-killed {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
    display: none;
}

#guesses {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    resize: none;
}

#blackCard {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 20px; 
    width: fit-content;
    height: fit-content;
    font-size: 28px;
    font-weight: 800;
}

#whiteCards > div {
    border: solid;
    box-shadow: 3px 5px;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding: 20px; 
    width: fit-content;
    height: fit-content;
    font-size: 28px;
    font-weight: 800;
    margin: 10px;
    position: relative;
}

.name-vote {
    border-radius: 50%; 
    background-color: black; 
    color: white; 
    position: absolute; 
    bottom: 10px; 
    right: 15px; 
    font-size: 12px; 
    padding: 10px; 
    display: none
}

#breakoutTimer {
    position: absolute;
    display: none;
    top: 448px;
    left: 388px;
}

.base-timer {
    position: relative;
    width: 80px;
    height: 80px;
  }
  
.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 11px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 11px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#breakoutFloor {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: black;
    overflow: hidden;
}

#breakoutBackground {
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
    height: 860px;
    position: relative;
}

#charList {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.char {
    position: absolute;
    left: 26px;
    transition: all 1s;
}

.char-name {
    position: absolute;
    width: 64px;
    font-size: 16px;
    background-color: white;
    text-align: center;
    font-weight: 800;
}

.char-bear {
    position: absolute;
    width: 64px;
    top: 20px;
}

.right-wrong {
    position: absolute;
    top: 47px;
    width: 100px;
    left: 64px;
}

#breakoutQuestionData {
    position: absolute;
    color: ivory;
    font-size: 30px;
    font-weight: 800;
    padding: 200px;
    width: fit-content;
    right: 281px;
    bottom: 156px;
}

.arrow:before, .arrow:after {
    content:"";
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    left: 55%;
    background: black;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .2s linear;
}

.arrow:after {
    z-index: 3;
    top:59%;
    left:55%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.arrow:hover {
    border: solid 8px #777;
}

.arrow:hover:before, .arrow:hover:after {
    background: #777;
}

.arrow:active {
    border: solid 8px #111;
}

.arrow:active:before, .arrow:active:after {
    background: #111;
}

.arrow {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border: solid 6px black;
  border-radius: 100%;
  z-index: 1;
  transition: all .2s linear;
  top: 448px;
  left: 388px;
}

#darkness {
    position: absolute;
    top: 0;
    left: 28px;
    width: 97.5%;
    height: 99%;
    margin: 0;
    padding: 0;
}

#darkness > div {
    display: inline-block;
    height: 100%;
    width: 4.9%;
    margin-right: -3px;
    margin-left: -3px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#whiteboard {
    height: 100%;
    width: 100%; 
    touch-action: none;
    border: solid;
}

#challenge12 {
    width: 100%;
    height: 805px;
}

#instruction {
    z-index: 3;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#instructionCardboard {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#details {
    position: absolute;
    text-align: center;
    padding-bottom: 15px;
    color: white;
    top: 15px;
    left: 40px;
    right: 40px;
    font-size: 36px;
}

.w3-modal{
    z-index: 4;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

@media (max-width:600px) {
    .w3-modal-content {
        margin: 0 10px;
        width: auto !important
    }
    .w3-modal {
        padding-top: 30px
    }
}

@media (max-width:768px) {
    .w3-modal-content {
        width: 500px
    }
    .w3-modal {
        padding-top: 50px
    }
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

@media (min-width:993px) {
    .w3-modal-content {
        width: 900px
    }
}

.w3-container:after,.w3-container:before {
    content: "";
    display: table;
    clear: both;
}

.w3-container {
    padding: 0.01em 16px
}

#gameOver {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: none;
}

.c-table {
    width: 100%;
    border-spacing: 0;
    max-width: 800px;
    margin: auto;
}

.c-table__head-cell {
    text-align: left;
    padding: 0.8rem;
    font-size: 1.8rem;
    border-bottom: 2px solid darkgrey;
    color: black;
}

.u-text--center {
    text-align: center !important;
}

.u-text--right {
    text-align: right !important;
}

.c-table__row {
    -webkit-transition: all 200ms ease-out 0s;
    transition: all 200ms ease-out 0s;
}

.c-table__cell {
    padding: 0.6rem;
    font-size: 1.5rem;
}

#gameOver p {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 118px;
    line-height: 120px;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    text-shadow: 5px 5px #000000;
    color: red;
}

#nextInstruction {
    position: absolute;
    top: 87%;
    left: 48%;
}

#screenshots {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: center;

    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 60%;
}

.screenshot-image {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.screenshot-image img {
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    max-height: stretch;
    max-width: 100%;
    border: 3px solid black;
}