html, body { height: 100%; padding: 0; margin: 0; }
#answer1{
    background-color: #4CAF50;
}
#answer2{
    background-color: #f94a1e;
}
#answer3{
    background-color: #3399ff;
}
#answer4{
    background-color: #ff9933;
}

#buttons{
    text-align: center;
}
#nameText{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px 10px;
}
#scoreText{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px 10px;
}
#message{
    text-align: center;
    font-size: 35px;
}

#killingFloor {
    display: none;
    height: 100%;
    background-color: #864cbf;
}

#challenge1, #stats, #challenge2, #challenge3, #challenge4, #challenge5, #challenge6,
#challenge7, #challenge8, #challenge9, #challenge10, #challenge11, .killing-floor, .non-killing-floor,
#takeMoney, #takeNothing {
    display: none
}

#takeMoney {
    background-color: #4CAF50;
    height: 100%
}

#takeNothing {
    background-color: #f94a1e;
    height: 100%
}

form {
    padding-top: 80px;
}

#killingFloor label {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#killingFloor input, #killingFloor select {
    width: 50%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}

form > button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;

}

#liveness {
    padding: 0px 10px;
}

#answerButtons > button {
    width: 50%;
    height: 50%;
    float: left;
    font-size: 50px;
    color: white;
    display: inline-block;
}

#breakoutFloor {
    display: none;
}

#interrogationFloor, #killingFloor, #breakoutFloor {
    height: 100%;
    width: 100%;
}

#breakoutFloor label {
    display: block;
    padding: 10px 10px;
    margin: 30px 0;
    font: 30px Arial, sans-serif;
    background-color: #ccc;
    border-radius: 7px;
  }
  
#breakoutFloor label:hover {
    background-color: #00FFFF;
    cursor: pointer;
}
  
#breakoutFloor input[type="checkbox"] {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
#breakoutFloor .isSelected {
    background-color: #00FFFF;
}
  
#whiteboard {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    touch-action: none;
    border: solid;
}

#gameOver {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: none;
}
  
#gameOver p {
    margin-top: 0px;
    margin-bottom: 56px;
    font-size: 160px;
    line-height: 120px;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    text-shadow: 5px 5px #000000;
    color: red;
}

#lookAtHost {
    display: none;
    height: 100%;
    background-color: #864cbf;
}

#killingFloorLookAtHost, #lookAtHost h1, #otherPlayerKilled {
    margin-top: 0px;
    padding-top: 30px;
    text-align: center;
    color: white;
}

#otherPlayerKilled {
    display: none;
}

#spotMurderer {
    display: none
}

.w3-modal{
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

@media (max-width:600px) {
    .w3-modal-content {
        margin: 0 10px;
        width: auto !important
    }
    .w3-modal {
        padding-top: 30px
    }
}

@media (max-width:768px) {
    .w3-modal-content {
        width: 500px
    }
    .w3-modal {
        padding-top: 50px
    }
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

@media (min-width:993px) {
    .w3-modal-content {
        width: 900px
    }
}

.w3-container:after,.w3-container:before {
    content: "";
    display: table;
    clear: both;
}

.w3-container {
    padding: 0.01em 16px
}