html, body { height: 100%; padding: 0; margin: 0; }
#answer1{
    background-color: #4CAF50;
}
#answer2{
    background-color: #f94a1e;
}
#answer3{
    background-color: #3399ff;
}
#answer4{
    background-color: #ff9933;
}

#buttons{
    text-align: center;
}
#nameText{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px 10px;
}
#scoreText{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px 10px;
}
#message{
    text-align: center;
    font-size: 35px;
}

#killingFloor {
    display: none;
    height: 100%;
    background-color: #864cbf;
}

#challenge1, #stats, #challenge2, #challenge3, #challenge4, #challenge5, #challenge6,
#challenge7, #challenge8, #challenge9, #challenge10, #challenge11, .killing-floor, .non-killing-floor,
#takeMoney, #takeNothing {
    display: none
}

#takeMoney {
    background-color: #4CAF50;
    height: 100%
}

#takeNothing {
    background-color: #f94a1e;
    height: 100%
}

form {
    padding-top: 80px;
}

label {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

input, select {
    width: 50%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}

form > button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;

}

#liveness {
    padding: 0px 10px;
}

#answerButtons > button {
    width: 50%;
    height: 50%;
    float: left;
    font-size: 50px;
    color: white;
    display: inline-block;
}